        <pre>{msg}</pre>

        <div class="jumbotron">
        <h1>Managing DataStore </h1>
        <p>In GAE, DataStore is a powerfull way to create no SQL data</p>
        You have to:
        <small>from https://console.developers.google.com/project/apps~{dataset-id}/apiui/credential</small>
        <p> - Store the private key in '/config/key.p12'</p>
        <p> - setting up the conf Vars:</p>
        <li>$this->setConf('GoogleCloudProjectName','A name for your app engine app');
        <li>$this->setConf('ServiceAccountEmailAddress','xxx@developer.gserviceaccount.com');
        <li>$this->setConf('GoogleCloudProjectId','your-app-id');
        <h2>Source code:</h2>
        </div>
        <pre>{source}</pre>
