        <pre>{msg}</pre>
        <div class="jumbotron">
        <h1>Managing Files</h1>
        <p>In GAE, Amazon or other platforms, to write local files is forbidden. 
            They introduce the concept of 'Buckets' where you can store files. 
            Of course you can read local files, but they have to be properly configured. This area is
            created to facilitate this aspect of the FrameWork.</p>
        
        <br/><br/>
        <h2>Test Bucket</h2>
        <form>
            test read:<input name='path' type="text" size=30 value={value}>
            <input type='submit'>
        </form>
        <h2>Source code:</h2>
        </div>
        <pre>{source}</pre>

