      <div class="jumbotron">
        <h1>ADNBP Cloud Framework <?=date("Y")?></h1>
        <p>Build Corporate Sites, Business Process, Mobile Applications and much more.. in minutes</p>
        <p><b>100% Compatible with Google Apps Engine (GAE)</b> <small>We are Official Partners</small></p>
        <p><a href="http://www.adnbp.com" target=_blank class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
      </div>
      
     <div class="container">
      <!-- Example row of columns --> 
     <div class="row">
        <div class="col-md-4">
          <h2>GeoLocation API</h2>
          <p>Allow to your applications to know where the User is located. Two versions: JS API, and PHP API.</p>
          <p><a class="btn btn-default" href="GeoLocation">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>GoogleSQL & Mysql Integration</h2>
          <p>Interact with relational databases with a common framework. GoogleSQL, external Mysql, an </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Email & SMS Marketing</h2>
          <p>eMail & SMS WorkFlows aorund the world. 0,00 ($/€) start up. Just pay when you uses.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
      </div>

     <div class="row">
        <div class="col-md-4">
          <h2>Oauth Integration</h2>
          <p>Allow Oauth integration from the most popular social Networks. Google+/Gmail, Facebook, Twitter, Pinterest, Linkedin... we are working to facilitate you work.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>File/Data Store</h2>
          <p>Store whatever content you need to keep. We facilitate the storing in a file system, Google Bucket, Amazon Bucket, etc.. </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Cloud CRM / ERP / BPM</h2>
          <p> Create your own CRM / ERP / Business Process with the easiest way Cloud Frame Work Platform. Create in days solutions instead to spend months with other Technologies. WE ARE A PAAS :)</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
       </div>
      </div>
      
     <div class="row">
        <div class="col-md-4">
          <h2>API Transalation</h2>
          <p>Use Google API Translation for your Applications.</p>
          <p><a class="btn btn-default" href="Translate">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Chat FrameWork</h2>
          <p>Use Cloud FrameWork Service to create your own chat.</p>
          <p><a class="btn btn-default" href="Chat">View details &raquo;</a></p>
        </div>
    </div>