        <div class="jumbotron">
        <h1>Google API Translate</h1>
        <p>Allows  real-time-translation from a language to other. You have to activate the API in your console: https://console.developers.google.com/project/apps~{your-project-Id}/apiui/api
        and to provide a SERVER-KEY (with local API allowed) o API-KEY(with local domain allowed)
        </p>
        
      	<form id=translate name=translate method=get>
            <input type='input' name='key' value='{key}' placeholder="Write your API KEY" class="form-control" >
            <table>
            	<tr>
            		<td>

            			 <textarea rows=5 cols=60 name='msgSource' placeholder='Write your text'>{msgSource}</textarea>
            		</td>
            		<td>    <select name='langs'>
            			    {sourceLangs}
            				</select>
            				<br/>
            				 </td>
            		<td>
            			 <textarea rows=5 cols=60 >{msgTranslated}</textarea>
            		</td>
            	</tr>
            </table>
            <input type=submit value='Translate'>
        </form>
        </div>
